.wd-col-customize-2 {
  flex: 0 0 auto;
  width: 50px !important;
  padding-right: 0.8rem !important;}

.wd-border-white{
  border-color: white !important;
  border-bottom-color: #dee2e6 !important;
}

.wd-no-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}