a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.wd-grid-wrapper {
  display: grid;
  grid-template-columns: auto minmax(min-content, 4fr) ;
}

.wd-row-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.wd-grid-title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.wd-grid-sidebar {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 6;
}

.wd-grid-sidebar2 {
  grid-column-start: 1;
  grid-row-start: 6;
  grid-row-end: 10;
}

.wd-grid-content {
  grid-auto-rows: minmax(1fr, 516px);
  float: left;
}


.wd-boarder {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(47,51,54);
}

.wd-title-boarder {
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
}

.wd-hidden-boarder {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-bottom-color: #1da1f2;
}

.wd-rounded-corners-all-around { border-radius: 50px;}
.wd-round-pic { border-radius: 50px;}
.wd-rounded-corners-bottom { border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;}
.wd-rounded-corners-top { border-top-left-radius: 20px; border-top-right-radius: 20px;}

.wd-float-left { float: left;}
.wd-float-right { float: right;}
.wd-float-done { clear: both;}

.wd-padding-top-bottom-12px { padding-top: 12px; padding-bottom: 12px;}
.wd-padding-top-12px { padding-top: 12px;}
.wd-padding-right-12px{ padding-right: 12px;}
.wd-padding-left-12px { padding-left: 12px;}
.wd-padding-right-16px { padding-right: 16px;}
.wd-padding-bottom-12px { padding-bottom: 12px;}

.wd-container {display: flex;}