.wd-fg-color-white { color: white; }
.wd-fg-color-lightgray { color: lightgray; }
.wd-fg-color-gray { color: gray; }
.wd-fg-color-link { color: rgb(110,118,125); }
.wd-fg-color-highlight { color: rgb(29,161,242); }

.wd-bg-color-gray { background: gray; }

.wd-margin-right-left-16px { margin-left: 16px; margin-right: 16px;
}

.wd-grid-row { clear: both;}
.wd-grid-col-whole-page { width: 100%; float: left; }

.wd-margin-right-12px {margin-right: 12px;
}

.wd-margin-right-16px {margin-right: 16px;
}

.wd-margin-left-16px {margin-left: 16px;
}

.wd-margin-left-12px {margin-left: 12px;
}